Host local-nix
  HostName 127.0.0.1
  Port 12222
  IdentityFile @BASE_DIR@/nix-docker-build/ssh/store_test
  StrictHostKeyChecking yes
  UserKnownHostsFile @BASE_DIR@/nix-docker-build/ssh/known_hosts
  IdentitiesOnly yes