ListenAddress 127.0.0.1:2322
X11Forwarding no
PermitRootLogin no
HostKey /Users/bro/Documents/Lisberg/nix-cache/ssh/ssh_host_ed25519_key
AuthorizedKeysFile /Users/bro/Documents/Lisberg/nix-cache/ssh/authorized_keys